table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

table {
  border-collapse: collapse;
  cursor: pointer;
}

.style-table {
  display: flex;
  flex-direction: row;
}

.time-item {
  padding: 10px;
  border: 1px solid #2a2a2a;
}
.time-column {
  margin: 0;
}
